div.content {
	position: relative;
	overflow: hidden;
	display: inline-block;
	display: table;
	margin: 0 auto;
	border: 2px solid gray;
}
div.E1 {
	position: relative;
	float: left;
	margin: 5px;
	padding: 5px;
	border: 1px solid red;
}
div.E2 {
	position: relative;
	float: right;
	margin: 5px;
	padding: 5px;
	border: 1px solid blue;
}
.center_text {
	font-weight: bold;
	text-decoration: underline;
	display: table;
	margin: 0 auto;
}
.center_el {
	display: table;
	margin: 0 auto;
}
form#ES1{
	position: relative;
}
form#ES2{
	position: relative;
}
